{% extends 'base.html.twig' %}

{% block title %}Edit Workflow{% endblock %}

{% block body %}
    <h1>Edit Workflow</h1>

    {{ include('workflow/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_workflow_index') }}">back to list</a>

    {{ include('workflow/_delete_form.html.twig') }}
{% endblock %}
