{% extends 'base.html.twig' %}

{% block title %}New Workflow{% endblock %}

{% block body %}
    <h1>Create new Workflow</h1>

    {{ include('workflow/_form.html.twig') }}

    <a href="{{ path('app_workflow_index') }}">back to list</a>
{% endblock %}
